<div class="row mx-4 my-2">
    <div class="col-md-12 text-center">
         <h1 class="text-warning">All About Me!</h1>
     </div>
     <div class="row mt-5 mb-5">
         <div class="col-md-3">
              <img src="/Assets/images/myphoto.jpg" class="img-fluid mb-2" alt="..." >   
         </div>
         <div class="col-md-9">
              <div class="mt-4">               
                   <p class="h5 text-white">Welcome aboard! (I Don't Bite)</p>
                   <p class="h5 text-white">
                        I am <b>Martel Baylis-Martin born and raised here in Canada. I'm currently pursuing 
                        <b>Software Engineering Artificial Intelligence here</b> at Centennial College.
                   </p>
                   <p class="h5 text-white">
                    Information Technology, Art and horticulturalism are my passions in life, hopefully I can inaugurate all in my life.
                   </p>
                   
              </div>
              <div class="mt-4 text-center">
                  <p class="h4 text-white"><i class="fas fa-file-download"></i> Here Is My Resume!</p>
                   <a href="/Assets/images/mresume.pdf" download = "mresume" style="text-decoration: none">
                        <button type="button" class="btn text-dark btn-lg bg-white">PDF Download <i class="fa fa-download" download></i></button>
                   </a>
              </div>
              
         </div>
    </div>
</div>


 




























